.blog_screen {
  /* max-width: 800px; */
  width: 100%;
  height: 100%;
  align-items: start;
  font-family: Arial, sans-serif;
  /* color: rgb(234, 117, 206); */
  color:#000;
}

.block {
  align-self: start;
  margin-bottom: 10%;
}

.title {
  align-self: start;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.posts {
  display: flex;
  margin:10px;
}

.post_content {
  margin:20px;
}

.post_image{
  background-size:cover;
  align-self:center;
  margin : 20px;
}


.post_title {
  font-size:48px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 20px;
}

.post_date {
  color: #888;
  margin-bottom: 5px;
}

.post_description {
  font-size: 24px;
  line-height: 24px;
}


.button{
  /* width: fit-content; */
  background-color: #1c2c4c;
  width:200px;
  height:50px;
  font-size:24px;
  margin-top: 8vh;
}

.button a {
}

.button a:hover {
  opacity: 0.6;
}

@media screen and (min-width:1024px) {
  .post_image {
    width:35vw;
  }
}

@media screen and (max-width:1023px) {
  .post_image {
    width:90vw;
  }
  .post_content {
    width:90vw;
  }

  .posts {
    display:flex;
    flex-direction: column;
  }

  
  .img_container {
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px){
	
}